body {
    margin: 0;
    line-height: normal;
}
.contentnew{
    position: absolute;
    top: 90px;
    left:535px;
    font-family: var(--font-franklin-gothic-demi);
    font-size: larger;
}


.main {
    background-image: linear-gradient(to left, #0C0A0A, #FFF6F6);
    position: relative;
}
.main_inside {
    display: flex;
    justify-content: space-between;

}

.main_container {
    display: flex;
}

.logo {
    width: 90px;
    height: 80px;
    padding-left: 60px;
}

.acadify {
    padding-top: 25px;
    font-size: xx-large;
    font-family: 'Jacques Francois shadow', cursive;

}

.main_navbar {
    padding: 35px 80px 0 40px;
    font-size: larger;

}

.main_navbar a {
    padding: 30px 25px 0 0;
    text-decoration: none;
    color: whitesmoke;
}

.featured-courses {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-36xl-8);
    display: inline-block;
    width: 627px;
    height: 102.39px;
}

.p2-box,
.p3-box {
    position: absolute;
    top: 198px;
    left: 803px;
    background-color: var(--color-white);
    box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.13);
    width: 306px;
    height: 428px;
}

.p2-box {
    left: 402px;
}

.p3-box {
    left: 799px;
}

.p1-box,
.p1-icon,
.p2-icon,
.p3-icon {
    position: absolute;
    top: 198px;
    left: 0;
    width: 306px;
}

.p1-box {
    background-color: var(--color-white);
    box-shadow: 4px 6px 6px 2px rgba(142, 64, 64, 0.13);
    height: 428px;
}

.p1-icon,
.p2-icon,
.p3-icon {
    height: 206px;
    object-fit: cover;
}

.p2-icon,
.p3-icon {
    left: 402px;
}

.p3-icon {
    left: 803px;
}

.complete-data-science {
    top: 417px;
    left: 11px;
    width: 283px;
    height: 46px;
}

.complete-data-science,
.dr-jose-potilla,
.rs-54900 {
    position: absolute;
    display: inline-block;
}

.dr-jose-potilla {
    top: 476px;
    left: 11px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-54900 {
    top: 578px;
    left: 14px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.days-of-code {
    top: 417px;
    left: 413px;
    width: 283px;
    height: 46px;
}

.days-of-code,
.dr-aurelie-martin,
.rs-64900 {
    position: absolute;
    display: inline-block;
}

.dr-aurelie-martin {
    top: 476px;
    left: 413px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-64900 {
    top: 578px;
    left: 416px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.the-new-complete {
    top: 417px;
    left: 818px;
    width: 283px;
    height: 46px;
}

.johnson-banerjee,
.rs-549001,
.the-new-complete {
    position: absolute;
    display: inline-block;
}

.johnson-banerjee {
    top: 476px;
    left: 818px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-549001 {
    top: 578px;
    left: 821px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.feature-rating {
    display: flex;
    position: absolute;
    top: 500px;
    padding: 0;
}

.feature-rate {
    padding: 15px 0px 0 11px;
}

.feature-rate2 {
    padding: 15px 0px 0 297px;
}

.feature-rate3 {
    padding: 15px 0px 0 297px;
}


.featured-courses-parent,
.top-companies {
    position: absolute;
    background-color: var(--color-white);
}

.featured-courses-parent,
.newest-courses-in-python-parent {
    top: 200px;
    left: 237px;
    width: 1131px;
    height: 626px;
    overflow: hidden;
}

.top-companies {
    top: 0;
    left: 0;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 786px;
    height: 240px;
}

.tc-content {
    position: absolute;
    top: 34px;
    left: 54px;
    display: inline-block;
    width: 678px;
    height: 73px;
}

.le-box-icon,
.mac-box-icon,
.nhm-box-icon {
    position: absolute;
    top: 115px;
    left: 88px;
    width: 216.64px;
    height: 77px;
    object-fit: cover;
}

.mac-box-icon,
.nhm-box-icon {
    top: 120px;
    left: 291px;
}

.mac-box-icon {
    left: 507px;
}
.newest-courses-in {
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: var(--font-size-36xl-8);
    display: inline-block;
    width: 912px;
    height: 90px;
}

.box3 {
    position: absolute;
    top: 115px;
    left: 820px;
    background-color: var(--color-white);
    box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.13);
    width: 306px;
    height: 428px;
}

.box2 {
    position: absolute;
    top: 115px;
    left: 429px;
    background-color: var(--color-white);
    box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.13);
    width: 306px;
    height: 428px;
}


.box1 {
    position: absolute;
    top: 115px;
    left: 17px;
    background-color: var(--color-white);
    box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.13);
    width: 306px;
    height: 428px;
}

.box1-pic-icon,
.box2-pic-icon,
.box3-pic-icon {
    position: absolute;
    top: 115px;
    left: 17px;
    width: 306px;
    height: 206px;
    object-fit: cover;
}

.box3-pic-icon {
    left: 820px;
}

.box2-pic-icon {
    left: 429px;
}

.complete-data-science1 {
    top: 334px;
    left: 28px;
    width: 283px;
    height: 46px;
}

.complete-data-science1,
.dr-jose-potilla1,
.rs-549002 {
    position: absolute;
    display: inline-block;
}

.dr-jose-potilla1 {
    top: 393px;
    left: 28px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-549002 {
    top: 495px;
    left: 31px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.days-of-code1 {
    top: 334px;
    left: 430px;
    width: 283px;
    height: 46px;
}

.days-of-code1,
.dr-aurelie-martin1,
.rs-649001 {
    position: absolute;
    display: inline-block;
}

.dr-aurelie-martin1 {
    top: 393px;
    left: 430px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-649001 {
    top: 495px;
    left: 433px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.johnson-banerjee1,
.the-new-complete1 {
    position: absolute;
    top: 334px;
    left: 835px;
    display: inline-block;
    width: 283px;
    height: 46px;
}

.johnson-banerjee1 {
    top: 393px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.frame-child1,
.star-icon {
    position: absolute;
    top: 455px;
    left: 835.66px;
    width: 27px;
    height: 27px;
}

.frame-child1 {
    left: 862.66px;
}

.frame-child2,
.frame-child3,
.frame-child4,
.rs-549003 {
    position: absolute;
    top: 455px;
    left: 889.69px;
    width: 28px;
    height: 27px;
}

.frame-child3,
.frame-child4,
.rs-549003 {
    left: 917.66px;
    width: 27px;
}

.frame-child4,
.rs-549003 {
    left: 942.66px;
}

.rs-549003 {
    top: 495px;
    left: 838px;
    font-size: 17.73px;
    display: inline-block;
    width: 92.18px;
    height: 26px;
}

.frame-child5,
.frame-child6 {
    position: absolute;
    top: 450px;
    left: 20px;
    width: 142px;
    height: 32px;
    overflow: hidden;
}

.frame-child6 {
    top: 453px;
    left: 430px;
    width: 141px;
    height: 29px;
}

.newest-courses-in-python-parent {
    position: absolute;
    top: 860px;
    left: 220px;
    width: 1140px;
    height: 581px;
}

.newest-rating {
    display: flex;
    position: absolute;
    top: 430px;
    padding: 0;
}

.newest-rate {
    padding: 15px 0px 0 24px;
}

.newest-rate2 {
    padding: 15px 0px 0 301px;
}

.newest-rate3 {
    padding: 15px 0px 0 295px;
}


.top-courses-in {
    position: absolute;
    top: 0;
    left: 1px;
    font-size: var(--font-size-36xl-8);
    display: inline-block;
    width: 1120px;
    height: 107px;
}

.webdevbox1,
.webdevbox2,
.webdevbox3 {
    position: absolute;
    top: 146px;
    background-color: var(--color-white);
    box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.13);
    width: 306px;
    height: 428px;
}

.webdevbox3 {
    left: 831px;
    opacity: 0.3;
}

.webdevbox1,
.webdevbox2 {
    left: 430px;
}

.webdevbox1 {
    left: 28px;
}

.box1-pic-icon1,
.box2-pic-icon1,
.box3-pic-icon1 {
    position: absolute;
    top: 146px;
    left: 28px;
    width: 306px;
    height: 206px;
    object-fit: cover;
}

.box2-pic-icon1,
.box3-pic-icon1 {
    left: 430px;
}

.box3-pic-icon1 {
    left: 831px;
}

.complete-data-science2 {
    top: 365px;
    left: 39px;
    width: 283px;
    height: 46px;
}

.complete-data-science2,
.dr-jose-potilla2,
.rs-549004 {
    position: absolute;
    display: inline-block;
}

.dr-jose-potilla2 {
    top: 424px;
    left: 39px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-549004 {
    top: 526px;
    left: 42px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.days-of-code2,
.dr-aurelie-martin2 {
    position: absolute;
    top: 365px;
    left: 441px;
    display: inline-block;
    width: 283px;
    height: 46px;
}

.dr-aurelie-martin2 {
    top: 424px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.frame-child7,
.rs-649002 {
    position: absolute;
    top: 486px;
    left: 441.66px;
    width: 27px;
    height: 27px;
}

.rs-649002 {
    top: 526px;
    left: 444px;
    font-size: 17.73px;
    display: inline-block;
    width: 92.18px;
    height: 26px;
}

.the-new-complete2 {
    top: 365px;
    left: 846px;
    width: 283px;
    height: 46px;
}

.johnson-banerjee2,
.rs-549005,
.the-new-complete2 {
    position: absolute;
    display: inline-block;
}

.johnson-banerjee2 {
    top: 424px;
    left: 846px;
    font-size: var(--font-size-lg);
    width: 188px;
    height: 23px;
}

.rs-549005 {
    top: 526px;
    left: 849px;
    font-size: 17.73px;
    width: 92.18px;
    height: 26px;
}

.frame-child10,
.frame-child8,
.frame-child9 {
    position: absolute;
    top: 483px;
    left: 33px;
    width: 147px;
    height: 30px;
    overflow: hidden;
}

.frame-child10,
.frame-child9 {
    top: 480px;
    left: 840px;
    width: 140px;
    height: 33px;
}

.frame-child10 {
    top: 485px;
    left: 443px;
    width: 132px;
    height: 28px;
}

.top-courses-in-web-development-parent {
    position: absolute;
    top: 1460px;
    left: 228px;
    width: 1170px;
    height: 615px;
    overflow: hidden;
}

.top-rating {
    display: flex;
    position: absolute;
    top: 456px;
    padding: 0;
}

.top-rate {
    padding: 15px 0px 0 35px;
}

.top-rate2 {
    padding: 15px 0px 0 302px;
}

.top-rate3 {
    padding: 15px 0px 0 296px;
}
.footer {
    background-color: var(--color-black);
    width: 100%;
    height: 433px;
    padding-left: 0px;
}

.logo-2-icon,
.twitter-icon {
    position: absolute;
    top: 123px;
    left: 1022px;
    width: 39px;
    height: 39px;
    object-fit: cover;
}

.logo-2-icon {
    top: 32px;
    left: 175px;
    width: 107.68px;
    height: 90px;
}

.acadify1,
.footer-content {
    position: absolute;
    display: inline-block;
}

.acadify1 {
    top: 47px;
    left: 283px;
    font-size: 49.58px;
    font-family: var(--font-jacques-francois-shadow);
    width: 281px;
    height: 60.66px;
}

.footer-content {
    top: 150px;
    left: 175px;
    font-size: var(--font-size-13xl);
    width: 441px;
    height: 82px;
}
hr{
    position: absolute;
    top: 310px;
    left: 0;
    width: 100%;
    height: 2px;
}

.call-us,
.copyright,
.follow-us,
.privacy-policy,
.terms-and-conditions {
    position: absolute;
    top: 342px;
    left: 160px;
    display: inline-block;
    width: 499px;
    height: 29px;
}

.privacy-policy{
    left: 941px;
}

.call-us,
.follow-us,
.privacy-policy,
.terms-and-conditions {
    
    width: 161px;
}

.call-us,
.follow-us,
.terms-and-conditions {
    top: 77px;
    left: 961px;
}

.call-us,
.terms-and-conditions {
    top: 79px;
    left: 1131px;
}

.terms-and-conditions {
    top: 342px;
    left: 1115px;
    width: 233px;
}

.fb-icon,
.insta-icon,
.linkedin-icon {
    position: absolute;
    top: 179px;
    left: 1022px;
    width: 39px;
    height: 39px;
    object-fit: cover;
}

.fb-icon,
.insta-icon {
    left: 961px;
}

.insta-icon {
    top: 121px;
    width: 41px;
    height: 41px;
}

.div,
.div1 {
    position: absolute;
    top: 131px;
    left: 1123px;
    display: inline-block;
    width: 146px;
    height: 37px;
}

.div1 {
    top: 154px;
}

.footer-parent {
    position: absolute;
    top: 2095px;
    height: 431px;
    width: 100%;
    overflow: hidden;
    color: var(--color-white);
    font-family: var(--font-franklin-gothic-demi);
}

